<div class="container">
  <div class="card card-container col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3" >
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <form class="form-signin" (ngSubmit)="formSubmit()">
      <div class="form-group">
        <input type="email" id="inputEmail" class="form-control" name="emailArea" #mail="ngModel" [(ngModel)] = "login.mail" placeholder="Email address" required autofocus pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        <div class="md-errors-spacer err" [hidden]="mail.valid || mail.untouched">
          <div  *ngIf="mail.errors && mail.errors.required">
            Email is required
          </div>
          <div  *ngIf="mail.errors && mail.errors.pattern">
            Email is invalid
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" id="inputPassword" class="form-control" name="pswdArea" #password="ngModel" [(ngModel)] = "login.password" placeholder="Password"  required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$">
        <div class="md-errors-spacer err" [hidden]="password.valid || password.untouched">
          <div  *ngIf="password.errors && password.errors.required">
            Password is required
          </div>
          <div  *ngIf="password.errors && password.errors.pattern">
            Password is invalid
          </div>
        </div>
      </div>
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" name="checkboxArea" value="remember-me" [(ngModel)] = "login.rememberMe"> Remember me
        </label>
      </div>
      <button class="btn btn-primary btn-signin" type="submit">Sign in</button>
    </form>
  </div>
</div>
